@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 0;
  margin: 5px;
  background-color: transparent;
  margin-left: 1rem;
}

#workspaces button {
  color: @surface2;
  border-radius: 50%;
  padding: 0;
  margin: 0 0.3rem;
  font-size: 14px;
  background-color: @surface0;
  min-width: 32px;
  min-height: 32px;
}

#workspaces button.focused {
  color: @green;
  border-radius: 50%;
  background: @surface1;
}

#workspaces button:hover {
  color: @yellow;
  border-radius: 50%;
}

#custom-music,
#custom-pomodoro,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#idle_inhibitor {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#idle_inhibitor {
  border-radius: 0px 1rem 1rem 0px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-pomodoro {
  color: @peach;
  border-radius: 1rem;
}

#custom-pomodoro.idle {
  background-color: @surface0;
  color: @peach;
}

#custom-pomodoro.running {
  background-color: @surface0;
  color: @green;
}

#custom-pomodoro.break {
  background-color: @yellow;
  color: @base;
}

#custom-pomodoro.paused {
  background-color: @surface0;
  color: @overlay1;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    border-radius: 0px 0px 0px 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor {
	border-radius: 0px;
}
